body {
  background-color: #222;
  color: #fff;
  font-family: Arial;
  font-size: 1.25rem;
  margin: 0;
}

main {
  width: 800px;
  margin: 128px auto;
  box-sizing: border-box;
}

img {
  margin-bottom: 64px;
  filter: drop-shadow(0 0 256px yellow);
}

code {
  font-family: monospace;
}